n8n_workflow.json
{
  "name": "Zepto NLP Query",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zepto-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -800,
        32
      ],
      "id": "cd6806be-16a8-4d62-a251-cf695125847b",
      "name": "Webhook",
      "webhookId": "ac04e72c-daa0-4a3d-bb00-89e405e964e3"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "13H1G6DDbH0Lv43v5fiIznSY54fWkcp7B",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -592,
        32
      ],
      "id": "e223f60b-f7ab-4aa7-b954-dcb4fdbc7478",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UOEA6B61HZRlmc80",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -384,
        32
      ],
      "id": "c0b82c51-34e3-47c6-863e-223c8fed6645",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst tableData = rows.map(row => row.json).slice(0, 100);\n\nconst webhookData = $('Webhook').first().json;\nconst userQuery = typeof webhookData.body === 'string' \n  ? JSON.parse(webhookData.body).query \n  : webhookData.body?.query || webhookData.query;\n\nconst fullPrompt = `You are ZapBot, a smart and friendly inventory assistant for Zepto, a quick commerce platform. A user has asked a question about the product inventory.\n\nSTRICT RULES:\n- Answer ONLY using the dataset provided\n- Prices are in paise — always convert to rupees (divide by 100) before displaying\n- NEVER use bullet points, asterisks (*), dashes (-), or markdown\n- Write in flowing, natural English paragraphs like a knowledgeable assistant speaking to a customer\n- Start with a direct one-line answer to the question\n- Follow with supporting details naturally woven into sentences\n- End with a helpful closing remark if appropriate\n- Keep the response concise but complete — 2 to 4 sentences max unless the answer genuinely needs more\n\nEXAMPLE OF GOOD RESPONSE:\n\"There are 6 products in the Fruits and Vegetables category priced under ₹20. The most affordable options include Garlic Indian at ₹9, Chilli Green at ₹16, and Coriander Leaves at ₹17. All of these are currently in stock and available for immediate delivery.\"\n\nDataset: ${JSON.stringify(tableData)}\n\nUser Query: ${userQuery}`;\n\nreturn [{ json: { fullPrompt: fullPrompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        32
      ],
      "id": "8e92b102-b98a-4a8c-8e3f-fa49897e27ab",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=YOUR_GEMINI_API_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents[0].parts[0].text",
              "value": "=={{ $json.fullPrompt }}"
            },
            {
              "name": "generationConfig.maxOutputTokens",
              "value": "1024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        32,
        32
      ],
      "id": "ea47775a-9c0b-48fd-9144-0a8b469d7090",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const answer = $input.first().json.candidates[0].content.parts[0].text;\nreturn [{ json: { answer: answer } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        32
      ],
      "id": "a876db2e-6a46-4a2e-813f-af0e0d2c29cf",
      "name": "Extract Answer"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        448,
        32
      ],
      "id": "148c6ea7-7a0e-4bd0-8552-5c0a627a7768",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Answer": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2a6df84b-c494-4e3e-84b6-1cfea9e345cc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14cff537676a2bf8470c5d1d0e218a230f0638fdfdd4d08089c1ff43dd358fcf"
  },
  "id": "pMQBerbNYpYWYT8H",
  "tags": []
}